<div class="footer footer-container">
  <div class="footer-shape-top">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
    </svg>
  </div>
  <h4>Juliette Guerbette</h4>
  <p>07 69 79 21 29</p>
  <p>turtleju[at]gmail.com</p>
</div>
