<div class="about text-container" id="about">
  <div class="about-shape-top">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
    </svg>
  </div>
  <h1>Qui suis-je ?</h1>
  <div class="avatar">
    <%= image_tag 'avatar.png' %>
  </div>
  <p>Nouvellement reconvertie en développement Web, passionnée par l'UX, l'UI et le développement Front-end !</p>
  <p>Après 15 ans en tant que commerciale BtoB et cheffe de projets en cadeaux d'affaires, j'ai décidé de prendre un virage professionnel vers ce qui me motive vraiment :</p>
  <p>le développement de produits répondant à de véritables besoins, les plus "user-friendly" possibles !</p>
  <p>J'ai obtenu la Certification conceptrice/développeuse d'application web - Niveau II, Fullstack development fin 2019 à <%= image_tag "lewagon.png", size: "40" %> .</p>
  <p>Et depuis... je code 🤓</p>
  <div class="github-chart">
    <img src="http://ghchart.rshah.org/118AB2/turtleju" alt="My Github Chart">
  </div>

  <div class="about-shape-bottom">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
    </svg>
  </div>
</div>
