<div class="experiences text-container" id="experiences">
  <h1>Expériences</h1>
  <ul>
    <li>March 2020-Now
      <h3>Product-design /// Front-end development</h3>
      <h4>FG Soft</h4>
      <p>Design de la solution Saas dédiée aux entreprises du bâtiment :</p>
      <p>Maquettage du site.</p>
      <p>Développement front.</p>
    </li>
    <li>2020
      <h3>Teacher-assistant</h3>
      <h4>Le Wagon</h4>
      <p>Aide aux étudiants à comprendre les bases du développement, GIT, Ruby, HTML, CSS, BootStrap, JS, DB (PostgreSQL), Heroku et Ruby on Rails.</p>
      <p>Comprendre leur code et les aider à débugger en interprétant les messages d'erreurs.</p>
      <p>Les encourager à utiliser les bonnes pratiques et à garder un code DRY.</p>
    </li>
    <li>2014-2019
      <h3>Responsable de développement Marques & Prestige</h3>
      <h4>Dag Import</h4>
      <p>Développement Commercial.
      <p>Développement Partenariats fournisseurs:</p>
      <p>Sourcing des marques et construction de partenariats.</p>
      <p>Reporting et analyse des performances commerciales.</p>
      <p>Les marques partenaires : Moleskine, Samsonite, Reisenthel, Adidas...</p>
      <p>Management Pôle Commercial (6 commerciaux).</p>
    </li>
    <li>2005-2014
      <h3>Commerciale - Acheteuse</h3>
      <h4>Alann Mark's /// Arka Colomb</h4>
      <p>Commerciale en objets publicitaires et cadeaux d’affaires.</p>
      <p>Achats : sourcing produits, négociation.</p>
    </li>
    <li>2009-2010
      <h3>Product-design /// Front-end development</h3>
      <h4>Auto-entreprise</h4>
      <p>Graphiste indépendante :</p>
      <p>Maquettes, retouches photo, création visuels pour la mode.</p>
    </li>
  </ul>
  <div class="experiences-shape-bottom">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
    </svg>
  </div>
</div>
