<div class="skills text-container">
  <h1>Compétences</h1>
  <div class="skill-card">
    <h3>Design (UX/UI)</h3>
      <%= image_tag "figma.svg", class: 'logo' %>
      <%= image_tag "sketch.svg", class: 'logo' %>
      <%= image_tag "photoshop.svg", class: 'logo' %>
      <%= image_tag "illustrator.svg", class: 'logo' %>
  </div>
</div>
