<div class="main-banner">Banner</div>

<div class="about">
  <h1>Qui suis-je ?</h1>
    <p>Juliette,</p>
    <p>Nouvellement reconvertie en développement Web, passionnée par l'UX, l'UI et le développement Front-end !</p>
    <p>Après 15 ans en tant que commerciale BtoB et cheffe de projets en cadeaux d'affaires, j'ai décidé de prendre un virage professionnel vers ce qui me motive vraiment :</p>
    <p>le développement de produits répondant à de véritables besoins, les plus "user-friendly" possibles !</p>
    <p>Mon CV ? par ici</p>
</div>

<div class="skills">Skills</div>

<div class="projects">Projects</div>

<div class="fun-facts">Fun Facts</div>
