<div class="main-banner"></div>

  <%= render 'about' %>

  <%= render 'experiences' %>


<div class="skills text-container">
  <h1>Compétences</h1>
</div>

<div class="projects text-container">
  <h1>Projets</h1>
  <p>Mon@map</p>
  <p>IPM</p>
</div>

<div class="fun-facts text-container">
  <h1>Fun Facts</h1>
</div>
