<div class="banner project-banner">
  <div class="blurry-box">
    <div class="title">
      <h1>Design & Code</h1>
      <h2>Mon@map</h2>
    </div>
  </div>
</div>
<div class="project">
  <div class="project-shape-top">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
    </svg>
  </div>
</div>
<div class="projects">
  <div class="text-container">
    <div class="grid-description">
      <div class="title-description pain"></div>
      <div class="description">
        <p>Adhérer à une AMAP est une action longue et fastidieuse : Les paiements sont font par chèques,
            à éditer en une fois pour tous les mois de l'année, pour chaque producteur.
            Tout est fait sur papier : les contrats, les inscriptions aux distributions... etc.
        </p>
      </div>
    </div>
    <div class="grid-description">
      <div class="title-description gain"></div>
      <div class="description">
        <p>Adhésion facilitée par la plateforme : paiement en ligne, gestion des inscriptions, du calendrier de distribution, des règlements...
        </p>
      </div>
    </div>
    <iframe id="video-monamap"
            class="project-video"
            width="900"
            height="720"
            src="https://www.youtube.com/embed/BU1rrpwg8oM"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>
  </div>
</div>
