<div class="projects">
  <h1>Mon@map</h1>
  <div class="grid-description">
    <div class="title-description pain"></div>
    <div class="description">
      <p>Adhérer à une AMAP est une action longue et fastidieuse : Les paiements sont font par chèques,
          à éditer en une fois pour tous les mois de l'année, pour chaque producteur.
          Tout est fait sur papier : les contrats, les inscriptions aux distributions... etc.
      </p>
    </div>
  </div>
  <div class="grid-description">
    <div class="title-description gain"></div>
    <div class="description">
      <p>Adhésion facilitée par la plateforme : paiement en ligne, gestion des inscriptions, du calendrier de distribution, des règlements...
      </p>
    </div>
  </div>
  <iframe id="video-monamap"
          class="project-video"
          width="1280"
          height="720"
          src="https://www.youtube.com/embed/BU1rrpwg8oM"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
  </iframe>
</div>
