.button-shadow {
  padding: 1rem 2rem;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid;
  outline: none;
  transition: box-shadow .4s;
}

.button-shadow-black {
  color: #000;
  &:hover{
    box-shadow: 0.3em 0.3em 0 0 #000;
  }
}

.button-shadow-white {
    color: #fff;
  &:hover{
    box-shadow: 0.3em 0.3em 0 0 #fff;
  }
}



h3 {
  svg {
    width: 20em;
  }
}
