.button-shadow {
  padding: 1rem 2rem;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid;
  outline: none;
  transition: box-shadow .4s;
}

.button-shadow-black {
  color: $black;
  &:hover{
    box-shadow: 0.3em 0.3em 0 0 $black;
  }
}

.button-shadow-white {
    color: $pure-white;
  &:hover{
    box-shadow: 0.3em 0.3em 0 0 $pure-white;
  }
}

.button-shadow-blue {
    color: $blue;
  &:hover{
    box-shadow: 0.3em 0.3em 0 0 $blue;
  }
}

.button-shadow-dark-blue {
    color: $dark-blue;
  &:hover{
    box-shadow: 0.3em 0.3em 0 0 $dark-blue;
  }
}

.button-shadow-pink {
  background-color: $pure-white;
    color: $pink;
  &:hover{
    box-shadow: 0.3em 0.3em 0 0 $pink;
  }
}

.button-close {
  width: 3rem;
  cursor: pointer;
}
