.about {
  position: relative;
  background-color: #f9f9f9;
  color: #000;
  padding-bottom: 12rem;

  .avatar {
    width: 16rem;
    margin: -4rem auto 4rem auto;
    filter: grayscale(1);
  }

  .github-chart {
    text-align: center;
    margin: 2rem;
  }

  .about-shape-top {
    position: absolute;
    top: -9rem;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .about-shape-top svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
  }

  .about-shape-top .shape-fill {
    fill: #f9f9f9;
  }


  .about-shape-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .about-shape-bottom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
  }

  .about-shape-bottom .shape-fill {
      fill: #61c3c1;
  }
}

@media (max-width: 768px) {
  .about {
    padding-bottom: 8rem;
    .avatar {
      width: 8rem;
      margin: 0 auto;
    }
    .github-chart {
      margin: 2rem 0rem;
    }
  }
}
