.about {
  position: relative;
  background-color: $egg-shell;
  color: $dark-blue;
  padding-bottom: 12rem;

  h1 {
    padding-top: 2rem;
  }
  .avatar {
    width: 12rem;
    margin: 4rem auto 4rem auto;

    img {
      border-radius: 50%;
    }
  }

  .github-chart {
    text-align: center;
    margin: 2rem;
    img {
      width: 100%;
    }
  }

  .about-shape-top {
    position: absolute;
    top: -9rem;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .about-shape-top svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
  }

  .about-shape-top .shape-fill {
    fill: $egg-shell;
  }


  .about-shape-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .about-shape-bottom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
  }

  .about-shape-bottom .shape-fill {
    fill: $light-blue;
  }
}

@media (max-width: 768px) {
  .about {
    padding-bottom: 8rem;
    margin-top: -4rem;
    .avatar {
      width: 8rem;
      margin: 2rem auto;
    }
    .github-chart {
      margin: 2rem 0rem;
    }
    .about-shape-top {
      top: -5rem;
    }
    .about-shape-top svg {
    height: 80px;
    }
    .about-shape-bottom svg {
      height: 80px;
    }
  }
}
