.banner {
  width: auto;
  height: 70vh;
  position: relative;
  background-size: cover;
  background-position-y: 3rem;
  background-position-x: center;
  background-repeat: no-repeat;
  .title {
    padding: 8rem;
    h2 {
      color: $dark-blue;
    }
  }
}

@media (max-width: 768px) {
  .main-banner {
    height: 55vh;
    .title {
      padding: 5rem 3rem;
      font-size: 4rem;
    }
  }
}

.home-banner {
  background-color: $bg-main-banner;
  background-image: url(/assets/julietteg.svg);
}

.project-banner {
  background-color: $dark-blue;
  background-image: url(/assets/julietteg.svg);

  .blurry-box {
    backdrop-filter: blur(4px);
    height: 100%;
  }

  .title h1 {
    color: $pure-white;
  }

  .title h2 {
    color: $blue;
  }
}
