$black: #000000;
$pure-white: #ffffff;
$egg-shell: #f9f9f9;
$pink: #EF476F;
$light-pink: #FDECF0;
$blue: #118AB2;
$light-blue: #DAF3FC;
$dark-blue: #073B4C;
$bg-main-banner: #aed9e0;
$bg-footer: #073B4C;
