$black: #000000;
$pure-white: #ffffff;
$egg-shell: #f9f9f9;
$orange: #de4c35;
$light-orange: #ffe9e6;
$pink: #EF476F;
$light-pink: #FDECF0;
$blue: #118AB2;
$light-blue: #DAF3FC;
$dark-blue: #073B4C;
$green :#05B384;
$light-green: #e3f8f2;
$bg-main-banner: #aed9e0;
$bg-footer: #073B4C;
