.contact-form {
  position: relative;
  background-color: #bb5180;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  label {
    display: grid;
    margin-bottom: 1.5rem;
    width: 50%;
    input, textarea {
      background-color: transparent;
      border: none;
      border-bottom: 2px solid #fff;
      line-height: 2rem;
    }
    input:focus, textarea:focus {
      outline: 1px solid rgba(255, 255,255, .3);
    }
  }

  .wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }

  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }
    100% { transform: rotate( 0.0deg) }
  }
}

#contact-form{
  position: relative;
}

#action {
  font-size: 1.5rem;
}

#wrap-action{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0, -50%);
  opacity: 0;
  &.active{
    z-index: 2;
    transform: translate(-50%, -50%);
    transition: transform .6s, opacity .6s;
    opacity: 1;
  }
}

svg{
  display: block;
  width: 101%;
  height: 72vh;
  .polymorph {
    fill: #f9f9f9;
  }
}

.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  #content{
    transform: translateY(-50px);
    opacity: 0;
    color: #fff;
    transition: transform .6s .2s, opacity .6s .2s;
    #close{
      width: 3rem;
      margin-top: 2rem;
      cursor: pointer;
    }
    &.active{
      z-index: 4;
      transform: translateY(0);
      opacity: 1;
    }
  }
}

@media (max-width: 768px) {
  .contact-form {
    .button-shadow {
      font-size: 1.2rem;
    }
  }
}
