.experiences {
  background-color: $light-blue;
  position: relative;
  h1 {
    color: $blue;
  }

  .card {
    margin: 1rem 0rem;
    border-radius: 0;
    background-color: $pure-white;
    .card-header {
      padding: 0;
      background-color: transparent;
      border-bottom: none;
    }
  }

  .experience-title {
    font-size: 2rem;
  }
  .experience-content {
    color: $dark-blue;
    font-size: 1.5rem;
    text-transform: none;
    h2 {
      font-size: 1.5rem;
      font-weight: 200;
      padding-top: 1rem;
    }
    p {
      font-size: 1rem;
      color: $black;
    }
  }


  .chronology {
  }
  .chronology-line {
    height: 2rem;
    width: 2px;
    background-color: $egg-shell;
    display: flex;
    flex-direction: column;
    align-self: center;
  }
  .chronology-icon {
    height: 4rem;
    width: auto;
    margin-right: 2rem;
    filter: saturate(0.5);
  }


  .experiences-shape-bottom {
    position: absolute;
    bottom: -6rem;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotateY(180deg);
  }

  .experiences-shape-bottom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 98px;
  }

  .experiences-shape-bottom .shape-fill {
    fill: $light-blue;
  }

  @media (max-width: 768px) {
    .experience-title {
      font-size: 1rem;
    }
    .experience-content {
      h3 {
        font-size: 1.5rem;
      }
    }
    .chronology-icon {
      height: 3rem;
      margin-right: 0.5rem;
    }
    .experiences-shape-bottom {
      bottom: -4rem;
    }
    .experiences-shape-bottom svg {
      height: 72px;
    }
  }
}
