.footer {
  position: relative;
  height: 20vh;
  background-color: #f69dba;
  color: #fff;
  h4 {
    margin-bottom: 0;
  }
  p {
    font-size: 1rem;
  }
}

.footer-shape-top {
  position: absolute;
  top: -4rem;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.footer-shape-top svg {
  position: relative;
  display: block;
  width: calc(115% + 1.3px);
  height: 76px;
}

.footer-shape-top .shape-fill {
  fill: #f69dba;
}

.footer-container {
  padding: 2rem 16rem 2rem 16rem;
}

@media (max-width: 768px) {
  .footer-container {
    padding: 1rem;
  }
}
