.main-banner {
  width: auto;
  height: 70vh;
  position: relative;
  background-image: url(/assets/julietteg.svg);
  background-color: #f35588;
  background-size: cover;
  background-position-y: 3rem;
  background-position-x: center;
  background-repeat: no-repeat;
  .title {
    padding: 8rem;
    h2 {
      color: #000;
      margin: 0 auto;
    }
  }
  .signature-box {
    position: relative;
    margin-top: -4rem;
    svg {
      position: absolute;
      height: 4rem;
    }
  }
}

@media (max-width: 768px) {
  .main-banner {
    height: 55vh;
    .title {
      padding: 5rem 3rem;
      font-size: 4rem;
    }
  }
}
