.main-banner {
  width: auto;
  height: 70vh;
  position: relative;
  background-image: url(/assets/julietteg.svg);
  background-color: #f35588;
  background-size: cover;
  background-position-y: 3rem;
  background-position-x: center;
  background-repeat: no-repeat;
}

.signature-box {
  position: relative;
  padding-top: 8rem;
  svg {
    position: absolute;
  }
}

@media (max-width: 768px) {
  .main-banner {
    height: 55vh;
  }
  .main-title {
    padding: 8rem 4rem 3rem 3rem;
    font-size: 4rem;
  }
}
