.main-banner {
  width: auto;
  height: 70vh;
  position: relative;
  background-image: url(/assets/julietteg.svg);
  background-color: $bg-main-banner;
  background-size: cover;
  background-position-y: 3rem;
  background-position-x: center;
  background-repeat: no-repeat;
  .title {
    padding: 8rem;
    h2 {
      font-family: 'Libre Franklin', sans-serif;
      color: $dark-blue;
      margin: 0 auto;
    }
  }
}

@media (max-width: 768px) {
  .main-banner {
    height: 55vh;
    .title {
      padding: 5rem 3rem;
      font-size: 4rem;
    }
  }
}
