.navbar {
  justify-content: space-between;
  background-color: transparent;
  .nav-link {
    font-weight: 800;
    color: white;
  }
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}

.avatar {
  width: 40px;
  border-radius: 50%;
}

.navbar-white {
  background-color: white;
  -webkit-box-shadow: 0 8px 16px 0px rgba(0,0,0,0.05);
     -moz-box-shadow: 0 8px 16px 0px rgba(0,0,0,0.05);
          box-shadow: 0 8px 16px 0px rgba(0,0,0,0.05);
  .nav-link {
    color: black;
  }
}

.nav-item.active a {
  color: #00d1cd;
}

@media (max-width: 768px) {
  .navbar {
    background-color: #f35588;
  }
  .navbar-white {
    background-color: #fff;
  }
  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  .custom-toggler.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5);
  }

  .navbar-white {
    .custom-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    .custom-toggler.navbar-toggler {
      border-color: rgba(0, 0, 0, 0.5);
    }
  }
}
