// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Mukta', sans-serif;
  font-weight: 200;
}

h1 {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 4rem;
  margin-top: 0rem;
}

h2 {
  font-size: 4rem;
}

h4 {
  font-size: 1.3rem;
}

p {
  font-family: 'Mukta', sans-serif;
  font-weight: 200;
  font-size: 1.3rem;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

img, video {
  max-width: 100%;
  height: auto;

}
