// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  font-family: 'Mukta', sans-serif;
  font-weight: 200;
}

h1 {
  font-family: 'Abril Fatface', cursive;
}

p {
  font-family: 'Mukta', sans-serif;
  font-weight: 200;
}
