.projects {
  background-color: $egg-shell;
  position: relative;
  h1 {
    color: $blue;
    padding-top: 4rem;
  }
  h2 {
    margin-bottom: 2rem;
  }
  .grid-description {
    display: grid;
    grid-template-columns: 0.5fr 3fr;
    grid-gap: 2rem;
    margin: 2rem 0;
    padding: 0 8rem;
    .title-description {
      text-align: right;
      background-repeat: no-repeat;
      height: 4rem;
      background-position-x: right;
      background-position-y: center;
      background-size: contain;
      &.pain {
      background-image: asset-url('pain.svg');
      }
      &.gain {
        background-image: asset-url('gain.svg');
      }
    }
    .description {
      p {
        font-size: 1rem;
      }
    }
  }
  .description-section {
    margin: 0 4rem 4rem 4rem;
    text-align: center;
    p {
      font-size: 1rem;
    }
  }
  .stack-logos {
    background-color: $pure-white;
    padding: 1.5rem;
    margin: 1rem 0;
    text-align: center;
    .logo {
      height: 2rem;
      width: 2rem;
      margin: 6px;
    }
  }
  img {
    max-width: 70%;
    margin: 1rem 0;
  }

  .project-video {
    width: 100%;
    min-height: 32rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .project-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    grid-gap: 2rem;
  }
  .project-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $pure-white;
    border: 2px solid $blue;
    padding: 2rem;
    margin-bottom: 4rem;
    p {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
    .project-illu {
      height: 50vh;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    .project-illu-ipm {
      background-image: asset-url('project-ipm.svg');
    }
    .project-illu-monamap {
      background-image: asset-url('project-monamap.svg');
    }
    .project-card-details {
      position: absolute;
      display: flex;
      flex-direction: column;
      bottom: 0;
      left: 0;
      background-color: $blue;
      color: $pure-white;
      padding: 2rem;
      margin: 4rem;
      opacity: 0;
      .button-shadow {
        align-self: flex-end;
      }
    }
  }
  .project-card:hover {
    box-shadow: 0.3em 0.3em 0 0 $blue;
  }
  .project-card:hover .project-card-details {
    transform: translateY(-1rem);
    transition: transform 0.3s ease-in-out;
    opacity: 1;
  }

  .projects-shape-top {
    position: absolute;
    top: 0rem;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .projects-shape-top svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 120px;
  }

  .projects-shape-top .shape-fill {
    fill: $light-pink;
  }

  .projects-shape-bottom {
    position: absolute;
    bottom: -8rem;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .projects-shape-bottom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 140px;
    transform: rotateX(180deg);
  }

  .projects-shape-bottom .shape-fill {
    fill: $egg-shell;
  }

  @media (max-width: 768px) {
    .project-video {
      min-height: 10rem;
      width: 100%;
    }

    .project-cards-container {
      grid-template-columns: 1fr;
    }
    .project-card .project-card-details {
      margin: 2rem;
    }
    .project-card:hover .project-card-details {
      transform: translateY(1rem);
    }
    .projects-shape-top svg {
      height: 80px;
    }
    .projects-shape-bottom {
      bottom: -5rem;
    }
    .projects-shape-bottom svg {
      height: 80px;
    }
  }
}
