.projects {
  background-color: $light-pink;
  position: relative;
  h1 {
    color: $pink;
    padding-top: 4rem;
  }
  .project-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    grid-gap: 2rem;
  }
  .project-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $pure-white;
    border: 2px solid $pink;
    padding: 2rem;
    margin-bottom: 4rem;
    p {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
    .project-illu {
      height: 50vh;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    .project-illu-ipm {
      background-image: asset-url('project-ipm.svg');
    }
    .project-illu-monamap {
      background-image: asset-url('project-monamap.svg');
    }
    .project-card-details {
      position: absolute;
      display: flex;
      flex-direction: column;
      bottom: 0;
      background-color: $pink;
      color: $pure-white;
      padding: 2rem;
      margin: 4rem;
      opacity: 0;
      .button-shadow {
        align-self: flex-end;
      }
    }
  }
  .project-card:hover {
    box-shadow: 0.3em 0.3em 0 0 $pink;
  }
  .project-card:hover .project-card-details {
    transform: translateY(-1rem);
    transition: transform 0.3s ease-in-out;
    opacity: 1;
  }


  .projects-shape-top {
    position: absolute;
    top: 0rem;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .projects-shape-top svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 120px;
  }

  .projects-shape-top .shape-fill {
    fill: $egg-shell;
  }

  .projects-shape-bottom {
    position: absolute;
    bottom: -8rem;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .projects-shape-bottom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 140px;
    transform: rotateX(180deg);
  }

  .projects-shape-bottom .shape-fill {
    fill: $light-pink;
  }

  @media (max-width: 768px) {
    .project-cards-container {
      grid-template-columns: 1fr;
    }
    .project-card .project-card-details {
      margin: 2rem;
    }
    .project-card:hover .project-card-details {
      transform: translateY(1rem);
    }
    .projects-shape-top svg {
      height: 80px;
    }
    .projects-shape-bottom {
      bottom: -5rem;
    }
    .projects-shape-bottom svg {
      height: 80px;
    }
  }
}
