.projects {
  background-color: #5192ba;
  position: relative;
  .project-card {
    background-color: #fff;
    padding: 2rem 2rem 4rem 2rem;
    margin-bottom: 4rem;
    box-shadow: 0 0 2rem -6px rgba(57, 101, 129, 0.89);
    p {
      font-size: 1rem;
    }
    .project-illu {
      height: 36rem;
      text-align: center;
      margin-top: 4rem;
      img {
        transition:         all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition:    all .2s ease-in-out;
        -ms-transition:     all .2s ease-in-out;
        -o-transition:      all .2s ease-in-out;
        max-height: 100%;
      }
    }
    .project-illu img:hover {
      transform:         scale(0.9);
      -webkit-transform: scale(0.9);
      -moz-transform:    scale(0.9);
      -ms-transform:     scale(0.9);
      -o-transform:      scale(0.9)
    }
  }
  .projects-shape-top {
    position: absolute;
    top: 0rem;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .projects-shape-top svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 120px;
  }

  .projects-shape-top .shape-fill {
    fill: #f9f9f9;
  }

  .projects-shape-bottom {
    position: absolute;
    bottom: -6rem;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .projects-shape-bottom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
    transform: rotateX(180deg);
  }

  .projects-shape-bottom .shape-fill {
    fill: #5192BA;
  }


}
