.skills {
  background-color: $light-pink;
  h1 {
    color: $pink;
    padding-top: 4rem;
  }
  .skill-cards-container {
    display: flex;
    justify-content: space-between;
  }
  .skill-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    background-color: $pure-white;
    color: $dark-blue;
    padding: 4rem 2rem;
    box-shadow: 0 0 2rem -6px rgba(222, 76, 53, 0.1);
    h2, h3 {
      text-align: center;
    }
    p {
      font-size: 1rem;
      margin-bottom: 2rem;
    }
    .skill-logos {
      padding: 0 1rem;
      text-align: center;
      .logo {
        height: 2rem;
        width: 2rem;
        margin: 6px;
      }
    }
  }

  @media (max-width: 768px) {
    h1 {
      padding-top: 7rem;
    }
    .skill-cards-container {
      display: block;
    }
    .skill-card {
      width: 100%;
      margin-bottom: 2rem;
    }
  }
}
